@tailwind base;
@tailwind components;

.btn {
  @apply py-2 px-10 text-white bg-primary rounded w-full;

  &:hover {
    @apply bg-indigo-700;
  }

  &:focus {
    @apply outline-none;
  }
}

.transition-all {
  transition: all 0.4s;
}

.card {
  @apply p-5 bg-gray-200 rounded-lg overflow-auto w-full;
  @media (min-width: 1280px) {
    @apply p-10;
  }
}

.borderLeftRight {
  position: relative;
}

.borderLeftRight::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  bottom: 0;
  left: 0;
  @apply bg-primary rounded-lg;
}
@tailwind utilities;
@responsive {
  .min-w-48 {
    min-width: 12rem;
  }
}

.loader,
.loader:after,
.loader:before {
  background: theme('colors.primary');
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: theme('colors.primary');
  text-indent: -9999em;
  margin: 0 auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

ul {
  margin-top: 20px;
  margin-left: 40px;
  list-style: square;
}

.loader:after,
.loader:before {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  100%,
  80% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  100%,
  80% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
